<a href="https://colab.research.google.com/github/zohaib304/MachineLearning/blob/main/Machine_Learning_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

100 Days of Machine Learning

# Day 1

# Data Processing

## Step 1: Importing the required Libraries

In [1]:
import pandas as pd
import numpy as np

  ## Step 2: Importing the Data Set

In [2]:
# load the data
data = pd.read_csv('/content/drive/MyDrive/Dataset/housing.csv')

In [3]:
data.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         5
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [4]:
# let's have look at first 5 rows
data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [5]:
# Dimension of the dataset
data.shape

(506, 14)

In [6]:
# Let's summarize the data
data.describe()

             CRIM          ZN       INDUS  ...           B       LSTAT        MEDV
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677082   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]

In [7]:
# Splitting the Dataset into the Independent Feature Matrix:
X = data.iloc[:, :-1].values

# Extracting the Dataset to Get the Dependent Vector
y = data.iloc[:, -1].values

In [8]:
X.shape

(506, 13)

In [9]:
X = pd.DataFrame(X)

## Step 3: Handling The Missing Data

In [15]:
# Get the name of columns with missing values
cols_with_missing = [col for col in X.columns
                     if X[col].isnull().any()]

In [16]:
print(cols_with_missing)

[5]

In [14]:
from sklearn.impute import SimpleImputer

imputer_X = SimpleImputer()
imputer_X = pd.DataFrame(imputer_X.fit_transform(X))

In [17]:
imputer_X.columns = X.columns


## Step 4: Splitting the dataset into test set and training set

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(imputer_X, y, test_size = 0.2, random_state = 42)

In [21]:
X_train.head()

           0     1      2    3       4   ...    8      9     10      11     12
477  15.02340   0.0  18.10  0.0  0.6140  ...  24.0  666.0  20.2  349.48  24.91
15    0.62739   0.0   8.14  0.0  0.5380  ...   4.0  307.0  21.0  395.62   8.47
332   0.03466  35.0   6.06  0.0  0.4379  ...   1.0  304.0  16.9  362.25   7.83
423   7.05042   0.0  18.10  0.0  0.6140  ...  24.0  666.0  20.2    2.52  23.29
19    0.72580   0.0   8.14  0.0  0.5380  ...   4.0  307.0  21.0  390.95  11.28

[5 rows x 13 columns]

## Step 5: Feature Scalling

In [22]:
from sklearn.preprocessing import StandardScaler
norma = StandardScaler()
X_train = norma.fit_transform(X_train)
X_test = norma.fit_transform(X_test)



---